@use "vars";

// start of header section


body{
  scroll-behavior: smooth;
}
header .header_section {
  background-color: vars.$grey;
  font-family: "League Gothic", sans-serif;
  height: 180px;
  .nan .container-fluid {
    img {
      width: 200px;
    }
    button {
      width: 70px;
      height: 50px;
      box-shadow: 2px 2px 3px 2px black;
      &:hover {
        background-color: vars.$darkgrey;
        cursor: pointer;
      }
    }
    .n0 .n1 li {
      a {
        font-size: 25px ;
        padding: 0px 15px;
        font-weight: 800;
        color: vars.$teal;
        border-bottom: 1px solid transparent;
        text-transform: uppercase;
        &:hover {
          border-bottom: 2px solid vars.$teal;
          color: vars.$light_teal;
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  header .header_section {
    .nan .container-fluid {
      .n0 .n1 li a {
        &:hover {
          border-bottom: 1px solid transparent;
          cursor: pointer;
        }
      }
    }
  }
}

// end of header section

// start of hero section

.hero_section {
  background-image: url(/img/back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 30px;
  box-sizing: border-box;
  display: flex;
  font-family: "League Gothic", sans-serif;
  height: auto;
  

  
 .container{
  
  .row{
    .hii{
  h1{
    font-size: 70px;
    text-transform: capitalize;
    color: vars.$yellow;
    font-weight: 800;
    text-align: center;
    text-shadow:2px 4px 3px  rgba(0,0,0,0.3);
   
   span{
    font-size: 110px;
    color: darkgoldenrod;
    text-shadow:2px 4px 3px  rgba(0,0,0,0.3);
   
   
    
   }
  
 }
 p{
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
  text-shadow:2px 4px 3px  rgba(0,0,0,0.3);
  color: vars.$yellow;
  font-weight: 400;

  
  }
}
}
} 
.row .holder1{
  button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    background-color: vars.$darkgrey;
   
    &:hover{
      background-color: transparent;
      border: 2px solid silver;
      color: vars.$yellow;
      box-shadow: 2px 3px 3px 2px vars.$yellow;

    }
a{
  
  font-size: 31px;
  text-decoration: none;
  text-shadow:2px 4px 3px  rgba(0,0,0,0.3);
  text-transform:uppercase;
  color:vars.$yellow;
  font-weight: 900;

  &:hover{
  
    text-shadow:2px 4px 3px  rgba(0,0,0,0.3);
    
  }
}

    
  }

   }
 }

     

// end of hero section


// about section start
.about_section {
  font-family: "League Gothic", sans-serif;
  padding-bottom: 30px;
  box-sizing: border-box;
  
background-color: vars.$softblue;
.container .row{
  row-gap: 60px;
  column-gap: 30px;
  padding-top: 50px;
  box-sizing: border-box;
  height: auto;
 
  .about_holder{
    box-shadow: 2px 3px 6px 2px vars.$navy;
    border-radius: 30px;
   margin-bottom: 20px;
    box-sizing: border-box;
    height: auto;
    &:hover{
      background-color: vars.$darkgrey;
      color: white;
      
    }
    h1{
      font-size: 70px;
      text-align: center;
      font-weight: 800;
      text-shadow:2px 4px 3px  rgba(0,0,0,0.3);
      text-transform: uppercase;
      animation-name: kinley;
      transition:  all 0.5s ease-in-out;
      animation-duration: 1s;
      animation-iteration-count: 2;
    }
    @keyframes kinley{

      30%{
        color: vars.$light_teal;
      }

      70%{
        color: #FFF455;
      }
     }
    p{
      font-size: 20px;
      font-weight: 400;
      text-shadow:2px 4px 3px  rgba(0,0,0,0.3);
      text-transform: capitalize;
      
    }
    h3{
      text-align: center;
      text-transform: uppercase;
      }

      .socal_holder{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
      a{
         text-decoration: none;
        font-size: 35px;
        animation-name: rotate;
        animation-duration: 1s;
        transition: all 0.5s ease-in-out;
        &:hover{
          color: vars.$navy;
            transform: rotatey(205deg);
          }
        }
      }
      
     }
      }
      
  

  }
  .img_div{
    height: 400px;
   padding-top: 30px;
    width: 400px;
  background: linear-gradient(rgba(7, 19, 189, 0.333) 30%, rgb(129, 22, 216) 50%, #0b3cc4 80%);
  border-radius: 40% 60% 30% 99%;
  box-shadow: 4px 3px 5px 5px white;
  img{
    width: 300px;
    
 
  }
    
  }


// end of about section

// start of resume section
.resume_section{
  font-family: "League Gothic", sans-serif;
  padding-top: 20px;
  box-sizing: border-box;
  background-color: vars.$navy;
  height: auto;
  padding: 45px;
  .container .row{
    .resume_holder{

      h1{
        color: vars.$grey;
        text-align: center;
        text-transform: uppercase;
      }

      h3{
        color: vars.$grey;
        text-align: center;
        text-transform: capitalize;
      }
      p{
        color: vars.$grey;
        text-align: center;
        text-transform: capitalize;
      }
    }


  }
}

// end of resume section

// start if skill section
.skill_section{
  font-family: "League Gothic", sans-serif;
  box-sizing: border-box;
 padding: 45px;
background-color: vars.$softblue;
.container .row { 
 padding-bottom: 50px;
 
  h1{
  text-align: center;
  padding-right: 180px;
  box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 40px;
  }
  .html_card {
    border-radius: 30px;
  box-shadow: 3px 3px 2px 2px black;
   img {
    height: 180px;
    border-radius: 30px;
  object-fit: contain;
    
  }

  
  @keyframes html-progress {
    to { --progress-value: 85; }
  }
  
  @keyframes css-progress {
    to { --progress-value: 80; }
  }
  
  @keyframes js-progress {
    to { --progress-value: 60; }
  }
  @keyframes bt-progress {
    to { --progress-value: 70; }
  }
  @keyframes re-progress {
    to { --progress-value: 50; }
  }
   @keyframes wp-progress {
    to { --progress-value: 80; }
  }

 .progress-bar-container{
  padding-left: 90px;
  // height: 400px;
  box-sizing: border-box;
  background-color: vars.$grey;
  border-radius: 30px;
  box-shadow: 3px 3px 2px 2px black;

  h2 {
    padding-right: 100px;
  }
  .progress-bar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  
  }
  
  .progress-bar::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
  }
  
  .html {
    background: 
      radial-gradient(closest-side, vars.$darkgrey 79%, transparent 80% 100%),
      conic-gradient(green calc(var(--progress-value) * 1%), silver 0);
    animation: html-progress 2s 1 forwards;
  }
  
  .html::before {
    animation: html-progress 2s 1 forwards;
  }
  
  .css {
    background: 
      radial-gradient(closest-side, vars.$darkgrey  79%, transparent 80% 100%, white 0),
      conic-gradient(blue calc(var(--progress-value) * 1%), silver 0);
    animation: css-progress 2s 1 forwards;
  }
  
  .css::before {
    animation: css-progress 2s 1 forwards;
  }
  
  .js {
    background: 
      radial-gradient(closest-side, vars.$darkgrey  79%, transparent 80% 100%, white 0),
      conic-gradient(orange calc(var(--progress-value) * 1%), silver 0);
    animation: js-progress 2s 1 forwards;
  }
  
  .js::before {
    animation: js-progress 2s 1 forwards;
  }
  .bt{
    background: 
    radial-gradient(closest-side, vars.$darkgrey  79%, transparent 80% 100%, white 0),
    conic-gradient(purple calc(var(--progress-value) * 1%), silver 0);
  animation: bt-progress 2s 1 forwards;

  }
  .bt::before{
    animation: bt-progress 2s 1 forwards;
  }



  .re{
    background: 
    radial-gradient(closest-side, vars.$darkgrey  79%, transparent 80% 100%, white 0),
    conic-gradient(skyblue calc(var(--progress-value) * 1%), silver 0);
  animation: re-progress 2s 1 forwards;

  }
  .re::before{
    animation: re-progress 2s 1 forwards;
  }


   .wp{
    background: 
    radial-gradient(closest-side, vars.$darkgrey  79%, transparent 80% 100%, white 0),
    conic-gradient(yellow calc(var(--progress-value) * 1%), silver 0);
  animation: wp-progress 2s 1 forwards;

  }
  .wp::before{
    animation: wp-progress 2s 1 forwards;
  }
  
  h2 {
    text-align: center;
  }
  
  progress {
    visibility: hidden;
    width: 0;
    height: 0;
  }

}
 
  }
}

}

// end of skill section

// start of project section
.project_section {
background-color: vars.$navy;
  font-family: "League Gothic", sans-serif;
  padding: 40px;
 .container .row{

  h1{
    color: vars.$grey;
    
    text-align: center;

    &:hover{
      background-color: vars.$grey;
      color: vars.$navy;;
    border-radius: 30px;
    margin-top: 10px;
    
    }
  }
 } 
 .main {
  border-radius: 30px;
  box-sizing: border-box;
 margin-bottom: 20px;
 
  
  .carsol1{
    .content_store{
      h5{
         color: vars.$yellow;
         font-size: 40px;
         text-transform: uppercase;

      }
      p{
        color: vars.$yellow;
        font-size: 20px;
        text-transform: capitalize;
      }
    }
  }

 
 }
}


// end of project section 

// testminonal section start


// end of testminomal section


// start of contact section
.contact_section{
  font-family: "League Gothic", sans-serif;
  background-color: vars.$softblue;
  height: 1000px;
  padding: 45px;
  .container .row{
    
    
    h1{
      text-transform: uppercase;
      text-align:center;
    }
    .map{

      

      h4{
        text-transform: capitalize;
        text-align: center;

      }
      iframe{
      margin-bottom: 30px;
      box-shadow: 3px 3px 2px 2px vars.$darkgrey;
      border-radius: 30px;
      }
    }
    .socails{
      box-shadow: 3px 3px 2px 2px vars.$darkgrey;
      border-radius: 30px;
      width: 600px;
      background-color: vars.$grey;
      box-sizing: border-box;
    padding:10px;
    opacity: 0.7;

      a{
      text-decoration: none;
      color: black;
      
      h3{
        padding-left: 10px;
        
        text-align: center;

        &:hover{
          color:vars.$light_teal;
        }
      }
    }
    }


    .holder{
      margin-top: 60px;
      h4{
        text-align: center;
        padding-top:20px;
        box-sizing: border-box;
      }

      .container form{
        background-color: #FAF9F6;
        box-shadow: 3px 3px 2px 2px vars.$darkgrey;
        border-radius: 30px;
        padding: 50px;
        box-sizing: border-box;
        textarea{
          margin-top: 20px;
        }
        .buton{
          width: 515px;
          height: 40px;
         background-color: darkseagreen;
         border-radius: 10px;
         font-size: 25px;
         &:hover{
          border: 2px solid silver;
          opacity: 0.9;
          color: white;
         }
        }
      }
    }
  }

}


// end of contact section


// start of footer section
footer .footer_section{
  background-color: vars.$grey;
  font-family: "League Gothic", sans-serif;
  height: 80px;

  .container .row{

    .fon{
      h5{
        padding-top: 30px;
        text-align: center;
      }
    }
  }
}

// end of footer section

// media query ipad

@media (max-width: 1281px){
  .about_section .container .row{
    
    .img_div img{
        width:300px;
      }
    }
    
  



  .contact_section .container .row{
    .map iframe{
      width: 520px;
    }
    .socails{
      width: 520px;
      margin-top: 10px;
    }

    .holder .container{
      .hello{ 
        margin-top: 40px;
        textarea{
        width:420px;
        height: 100px;
      }
    } 
      .input_div{
        button{
          width: 420px;
        }
      }

    }
  }

}

@media (max-width:1025px){
  // .about_section .container .row{
  //   .img_div{
  //   padding-top: 30px;
      
  //     img{
  //       width: 380px;
        
        
  //     }
  //   }
  // }

  .contact_section .container .row{
    .map iframe{
      width: 450px;
    }
    .socails{
      width: 450px;
      
    }

    .holder .container{
      .hello{ 
        
        textarea{
        width:330px;
       
      }
    } 
      .input_div{
        button{
          width: 330px;
        }
      }

    }
  }
}
// end of ipad media query

// media query phone start
@media(max-width:913px){

  .about_section .container .row{
    
    .img_div{
        
        margin-left: 70px;
      }
    }

    .skill_section .container .row{
      margin-left:190px;
      gap: 30px;
      h1{
        width: 100%;
        margin-right: 50px;
      }
    }

    .contact_section{
      height: 1700px;
      .container .row{
      .map iframe{
        
        margin-left: 100px;
      }
      .socails{
        
        
        margin-left: 100px;
      }
  
      .holder .container{
        
        .hello{ 
         
        
          
          textarea{
          width:570px;
         
        }
      } 
        .input_div{
          
          button{
            width: 570px;
            
          }
        }
  
      }
    }
  } 
}

@media(max-width:541px)and (max-width:771px){
  .about_section .container .row{
    
    .img_div{
      width: 340px;
      img{
        width: 300px;
      }
         
      position: relative;
      right: 78px;
      }
    }

    .skill_section .container .row{
     position: relative;
     right: 180px;
      gap: 30px;
      h1{
        position: relative;
        left: 100px;

      }
    }

    .contact_section{
      
      .container .row{
      .map iframe{
        width: 290px;
        position: relative;
        right: 85px;
      }
      .socails{
        width: 290px;
        position: relative;
        right: 85px;
      }
  
      .holder .container{
     
        
        .hello{ 
          position: relative;
          bottom: 40px;
          height: 540px;
          
          textarea{
          width:175px;
         
        }
      } 
        .input_div{
          
          button{
            width:178px;
            
          }
        }
  
      }
    }
  } 

}


// end of phone media quarey